nav {
    background-color: brown;
    opacity: 0.9;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.nav-ul, .nav-ul-log {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul.nav-ul > li {
    margin-right: 30px;
    
}
.nav-ul-log {
display: flex; 
margin: 20px;
}

a {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
    /* text-shadow: 0.2px 0.2px white; */
}

li {
    margin: 10px;
}